@model VirtualTourCore.Core.Models.Area
<hr />
@if (Model != null && Model.Id == 0)
{
    <h2>Create Area</h2>
}
else
{
    <h2>Edit Area</h2>
}
<hr />
@using (Html.BeginForm("ModifyAreas", "Area", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return GetDescription()", @id = "areaForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.ClientId)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.LocationId)
    <div class="row">
        <div class="form-group col-lg-12">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "The Area's Name", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.DescriptionHtml)
    @Html.HiddenFor(model => model.DescriptionJson)
}
@Html.LabelFor(model => model.Description)
<div id="areaDescription"></div>
<div class="row">
    <div class="form-group col-xs-12">
        @if (Model != null && Model.Id == 0)
        {
            <input type="submit" onclick="$('#areaForm').submit()" value="Create" class="btn btn-default" />
        }
        else
        {
            <input type="submit" onclick="$('#areaForm').submit()" value="Update" class="btn btn-default" />
        }
    </div>
    <div class="col-xs-12">
        @Html.ActionLink("Back to List", "ClientAreas", new { id = Model.LocationId, cId = Model.ClientId })
    </div>
</div>
<script>
    var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'header': 1 }, { 'header': 2 }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                ['link', 'image', 'video'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }]
    ];
    var options = {
        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Tell everyone about the area',
        readOnly: false,
        theme: 'snow'
    };
    var quill = new Quill('#areaDescription', options);
    quill.setContents(JSON.parse($('#DescriptionJson').val()));//set init value
    function GetDescription() //display current HTML
    {
        var html = quill.root.innerHTML;
        $('#DescriptionJson').val(JSON.stringify(quill.getContents()));
        $('#DescriptionHtml').val(html);
        $('#Description').val(quill.getText());
        return true;
    }
</script>
