@using VirtualTourCore.Api.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="//cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.2.6/quill.bubble.css" rel="stylesheet">

    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="//cdn.quilljs.com/1.2.6/quill.core.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/quill.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Virtual Tour Admin Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Clients", "Index", "Client", new { area = "" }, null)</li>
                    }
                </ul>
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @IdentityService.GetUserNameFromClaim(User) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                            @if (User.IsInRole("Admin"))
                            {
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Check Identity", "Identity", "Account", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Register New User", "Register", "Account")</li>
                            }
                        </ul>
                    </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{Html.RenderAction("GetBreadCrumbs", "Navigation");}
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
