@model VirtualTourCore.Core.Models.Tour
    <div class="loadingSpinner">
        <i class="icon-spinner icon-spin icon-large"></i>
    </div>
<hr />
@if (Model != null && Model.Id == 0)
{
    <h2>Create Tour</h2>
}
else
{
    <h2>Edit Tour</h2>
}
<hr />
@using (Html.BeginForm("ModifyTours", "Tour", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return GetDescription()", @id = "tourForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.ClientId)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.AreaId)
    <div class="row">
        <div class="form-group col-lg-6">
            <div class="row">
                <div class="col-xs-12">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "The Tour's Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12">
                    @Html.Label("KrPano Tour Upload")
                    @{ var hasKrPano = Model.KrPanoTourId != null && Model.KrPanoTour.FullPath() != null; }
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-default">
                                Browse&hellip; <input type="file" id="krpanoInput" data-name="krpano" name="krPanoZip" class="krpanoInp" style="display: none;">
                            </span>
                        </label>
                        <input id="krpanoFilenameInput" type="text" value="@(Model.KrPanoTour != null ? Model.KrPanoTour.Filename: "")" class="form-control" readonly>
                        <span class="btn btn-default input-group-addon imgClearBtn" id="krpanoClearBtn" data-name="krpano"><i id="krpanoClear" class="fa fa-trash"></i></span>
                        <span class="btn btn-default input-group-addon" data-toggle="collapse" data-target="#krpanoImage"
                              aria-expanded="false" aria-controls="krpanoImage" id="krpanoDisplayBtn" data-name="krpano"><i id="krpanoToggle" class="@(hasKrPano ? "fa fa-toggle-on" : "fa fa-toggle-off")" aria-hidden="true"></i></span>
                    </div>
                    @if (hasKrPano)
                    {
                        <div class="uploadImgHolder img-fluid img-thumbnail col-xs-12 in" id="krpanoImage">
                            <iframe name="KRpano" id="external" frameborder="0" src=@Url.Content(Model.KrPanoTour.FullPath()) webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            @Html.HiddenFor(x => x.KrPanoTourId, new { @data_imageName = "krpano" })
                        </div>
                    }
                    else
                    {
                        <div class="uploadImgHolder collapse img-fluid img-thumbnail col-xs-12 text-center" id="krpanoImage">
                            <img class="col-xs-12" src="~/Content/Images/noImageShort.png" />
                            <p> KrPano Preview will be available after upload.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            @* Profile File Input Region Start *@
            @Html.Label("Tour Thumbnail")
            @{ var hasProfile = Model.AssetTourThumbnail != null && Model.AssetTourThumbnail.FullPath() != null; }
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default">
                        Browse&hellip; <input type="file" id="profileInput" name="tourThumb" data-name="profile" data-target="profileImage" class="imgInp" style="display: none;">
                    </span>
                </label>
                <input id="profileFilenameInput" type="text" value="@(hasProfile ? Model.AssetTourThumbnail.Filename: "")" class="form-control" readonly>
                <span class="btn btn-default input-group-addon imgClearBtn" id="profileClearBtn" data-name="profile"><i id="profileClear" class="fa fa-trash"></i></span>
                <span class="btn btn-default input-group-addon" data-toggle="collapse" data-target="#profileImage"
                      aria-expanded="false" aria-controls="profileImage" id="profileDisplayBtn" data-name="profile"><i id="profileToggle" class="@(hasProfile ? "fa fa-toggle-on" : "fa fa-toggle-off")" aria-hidden="true"></i></span>
            </div>
            <img @(hasProfile ? "src=" + Model.AssetTourThumbnail.FullPath() + " onload=$('#profileDisplayBtn').click()" : "src=''") class="uploadImgHolder collapse img-fluid img-thumbnail col-xs-12" id="profileImage" alt="Profile Image">
            @Html.HiddenFor(x => x.AssetTourThumbnailId, new { @data_imageName = "profile" })
            @* Profile File Input Region End *@
        </div>
    </div>
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.DescriptionHtml)
    @Html.HiddenFor(model => model.DescriptionJson)
}
@Html.LabelFor(model => model.Description)
<div id="tourDescription"></div>
<div class="row">
    <div class="form-group col-xs-12">
        @if (Model != null && Model.Id == 0)
        {
            <input type="submit" onclick="$('#tourForm').submit()" value="Create" class="btn btn-default" />
        }
        else
        {
            <input type="submit" onclick="$('#tourForm').submit()" value="Update" class="btn btn-default" />
        }
    </div>
    <div class="col-xs-12">
        @Html.ActionLink("Back to List", "ClientTours", new { id = Model.AreaId, cId = Model.ClientId })
    </div>
</div>
<script>
    var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'header': 1 }, { 'header': 2 }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                ['link', 'image', 'video'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }]
    ];
    var options = {
        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Tell everyone about the tour',
        readOnly: false,
        theme: 'snow'
    };
    var quill = new Quill('#tourDescription', options);
    quill.setContents(JSON.parse($('#DescriptionJson').val()));//set init value
    function GetDescription() //display current HTML
    {
        var html = quill.root.innerHTML;
        $('#DescriptionJson').val(JSON.stringify(quill.getContents()));
        $('#DescriptionHtml').val(html);
        $('#Description').val(quill.getText());
        return true;
    }
</script>
