@model VirtualTourCore.Core.Models.Tour

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionJson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionJson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionHtml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ClientTours", new { id = Model.AreaId, cId = Model.ClientId })
</p>
