@model VirtualTourCore.Core.Models.Client

@{
    ViewBag.Title = string.Format("{0} Details", Model.Name);
}
<div>
    <hr />
    <div class="row">
        <div class="col-xs-12 alert alert-danger hidden" role="alert" id="errorMessage"></div>
        <div class="col-xs-1">
            <div class="adminHeadingText">Details</div>
        </div>
        <div class="col-xs-1">
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn">
                <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-9">

        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletionModal">
                <i class="fa fa-2x fa-trash" aria-hidden="true"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 class="modal-title" id="deletionLabel">Confirm Deletion?</h4>
                            Clicking confirm will permanently delete this client.  Do you wish to continue?
                            <div>
                                <small>This will fail if the client contains locations, you must delete the locations belonging to the client prior to performing this action.</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="deleteButton" type="button" class="btn btn-danger">Confirm Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <label>Name</label>
                </div>
                <div class="col-lg-12">
                    @Model.Name
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Created</label>
                </div>
                <div class="col-lg-12">
                    @Model.CreateDate
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @if (Model.UpdateDate != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <label>Updated</label>
                    </div>
                    <div class="col-lg-12">
                        @Model.UpdateDate
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Street Address</label>
                </div>
                <div class="col-lg-12">
                    @Model.StreetAddress
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>City</label>
                </div>
                <div class="col-lg-12">
                    @Model.City
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>State</label>
                </div>
                <div class="col-lg-12">
                    @Model.State
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Zip Code</label>
                </div>
                <div class="col-lg-12">
                    @Model.Zipcode
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Homepage Link</label>
                </div>
                <div class="col-lg-12">
                    @if (!string.IsNullOrWhiteSpace(Model.Link))
                    {
                        <a href="@Model.Link" target="_blank">@Model.Link <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Phone Number</label>
                </div>
                <div class="col-lg-12">
                    @Model.Phone
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Marketing Email</label>
                </div>
                <div class="col-lg-12">
                    @Model.MarketingEmail
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label>Support Email</label>
                </div>
                <div class="col-lg-12">
                    @Model.SupportEmail
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-lg-12">
                    <label>Description</label>
                </div>
                <div class="col-lg-12">
                    @Html.Raw(Model.DescriptionHtml)
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-lg-12">
                    <label>Logo</label>
                </div>
                <div class="col-lg-12">
                    @if (Model.AssetLogo != null)
                    {
                        <img src="@Model.AssetLogo.FullPath()" class="img-fluid img-thumbnail col-xs-12" id="areaMapImage" alt="@Model.Name Area Map Image">
                    }
                </div>
                <div class="col-lg-12">
                    <label>Profile Image</label>
                </div>
                <div class="col-lg-12">
                    @if (Model.AssetProfile != null)
                    {
                        <img src="@Model.AssetProfile.FullPath()" class="img-fluid img-thumbnail col-xs-12" id="areaMapImage" alt="@Model.Name Area Map Image">
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<div id="clientDetails" data-clientid="@Model.Id" class="hidden"></div>

<script>
    $(document).on('click', '#deleteButton', function(){
        deleteClient();

    });

    function deleteClient() {
        var details = $('#clientDetails');
        var clientId = details.data("clientid");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete")',
            data: { id: clientId },
            success: function(response){
                if (response) {
                    $('#closeButton').click();
                    $('#errorMessage').html("<i class=\"fa fa-exclamation-circle\" aria-hidden=\"true\"></i> <strong>Error!</strong> " + response);
                    $('#errorMessage').removeClass("hidden");
                }else{
                    window.location.href = "/Index";
                }
            },
            error: function () {
                $('#closeButton').click();
                $('#errorMessage').html("<i class=\"fa fa-exclamation-circle\" aria-hidden=\"true\"></i> <strong>Error!</strong> Failed to delete current area. please try again later.");
                $('#errorMessage').removeClass("hidden");
            }
        });
    }
</script>